@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

.app {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: flex-start; /* lo pone arriba */
  padding-top: 100px;     /* separa del borde superior */
  height: 100vh;           /* ocupa toda la altura de la pantalla */
  width: 100vw;            /* ocupa todo el ancho de la pantalla */
  background-color: black; /* fondo negro total */
  overflow: hidden;        /* evita scroll innecesario */
}

svg {
  width: 100%;      /* que el SVG ocupe todo el ancho */
  height: auto;     /* ajusta la altura automáticamente */
}


.logo-text {
  font-family: 'UnifrakturCook', cursive;
  color: white;
  font-size: 4rem;
  text-align: center;
}
